@import '../../toolz.css';

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:1rem;
}

.subtitle{margin-top:0;color:var(--accent);}

#results{margin-top:1rem;}

#spinner{margin-top:1rem;}
